//@import url("./../css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("./../css/variables.less");

//@media (max-width: @screen-xs-max) { }
//@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
//@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }

@media (min-width: @screen-lg-min) {
    body {
        font-family: @font-family-arial;
        .container {
            width: 1170px;
            padding: 0 @padding+10;
            margin: 0 auto;
            .row {
               
                 margin: 0 -15px;  
                
                #header-navigation { 
                    .header-menu {
                        padding: @padding+5;
                        display: block;
                        height: 40px;
                        .all-menu {
                            width: 100%;
                            text-decoration: none;
                            color: @blue;
                            .fa {
                                font-size: @font-size-large+3;
                                float: left;
                            }
                            h2 {
                                font-size: @font-size-base+1;
                                display: block;
                                margin: 0 @margin 0 @margin+20;
                                font-weight: bold;
                                color: @black;
                                padding: @padding 0;
                            }
                        }

                    }   
                }
            }
        }
    }
   
}